PORT=
FRONTEND_URL=
JWT_SECRET=
JWT_EXPIRES=
DB_URL=
PINATA_JWT= 
GATEWAY_URL= 
MAIL_FROM=
MAILTRAP_PORT= 
MAILTRAP_HOST= 
MAILTRAP_USER= 
MAILTRAP_PASS= 
JSON_RPC_PROVIDER= 
MINT_CONTRACT_ADDRESS=
MARKET_CONTRACT_ADDRESS= 
MEDIA_CONTRACT_ADDRESS=
USER_PROFILE_IMAGE_URL_DEFAULT= 